.root {
	display: block;
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-background-image: url("img/background.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 1600 800;
	-fx-background-position: center center;
}  

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: steelblue;
    -fx-text-fill: white; /* 5 */
}

.list-cell { 
	-fx-text-fill: blue;
	-fx-background-color: transparent;
	-fx-font-family: "Comic sans MS";
}

.list-cell:odd { -fx-background-color: lightsteelblue; /* 1 */ }

.list-cell:even { -fx-background-color: lightblue; /* for information */ }

.list-cell:filled:hover { 
    -fx-background-color: #00f; /* 2 */
    -fx-text-fill: lightsteelblue; /* 5 */
}

.hbox { 
	-fx-padding: 15.0; 
	-fx-spacing: 10.0;
}  

.borders{ 
	-fx-border-color: black; 
	-fx-border-style: dashed; 
	-fx-border-width: 2.0;
}

.text-field, .label {
	-fx-text-fill: lightsteelblue;
    -fx-font-size: 12pt;
    -fx-font-family: "Comic sans MS";
	-fx-font-weight: bold;
	-fx-background-color: transparent;
	-fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.7), 5, 0, 0, 1);  
}

#version {
    -fx-font-size: 8pt;
    -fx-font-style: italic;
}

#applicationName {
    -fx-font-size: 18pt;
	-fx-effect: dropshadow(three-pass-box, rgba(5, 5, 5, 0.7), 5, 0, 0, 1);  
}

#exitButton {
	-fx-background-color: rgba(0, 0, 0, 0); 
	-fx-background-image: url("img/ExitButtonWhite.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 50 50;
	-fx-background-position: center center;	
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0 , 0, 1);
}

#exitButton:hover {
	-fx-background-image: url("img/ExitButtonGreen.png");
}

#ajoutExerciceButton {
	-fx-background-color: rgba(0, 0, 0, 0); 
	-fx-background-image: url("img/AjoutButtonBlue.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 30 30;
	-fx-background-position: center center;	
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0 , 0, 1);
}

#ajoutExerciceButton:hover {
	-fx-background-image: url("img/AjoutButtonRed.png");
}

#supprExerciceButton {
	-fx-background-color: rgba(0, 0, 0, 0); 
	-fx-background-image: url("img/SupprButtonBlue.png");
	-fx-background-repeat: stretch; 
	-fx-background-size: 30 30;
	-fx-background-position: center center;	
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0 , 0, 1);
}

#supprExerciceButton:hover {
	-fx-background-image: url("img/SupprButtonRed.png");
}