.root {
	display: block; 
	/* -fx-background-color: olivedrab; */
	-fx-background-image: url("img/background.png");
}  

.fontStyle { 
	-fx-font-size: 16.0; 
	-fx-font-family: "Comic Sans MS";
} 

/*
1. Odd rows with white background color;
2. ListView: when mouse over an item, highlight with a blue shade;
3. ListView: when an item is selected, paint it with a gradient;
4. ListView: when focus is lost from ListView, selected item should be painted with gradient;
5. ListView: all items will start with text-fill black. But on mouse over and/or selected it will change to white.
*/

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: linear-gradient(#669FDD 0%, #669FBB 25%, #669Faa 75%, #eee 100%);
    -fx-text-fill: white; /* 5 */
}

.list-cell { 
	-fx-text-fill: black; /* 5 */
	-fx-background-color: transparent;
}

.list-cell:odd { -fx-background-color: white; /* 1 */ }

.list-cell:even { -fx-background-color: #669fb4; /* for information */ }

.list-cell:filled:hover { 
    -fx-background-color: #00f; /* 2 */
    -fx-text-fill: white; /* 5 */
}

.button{
	-fx-effect: innershadow(three-pass-box, blue, 10, 0, 0, 0);
}  

.label{
	-fx-text-fill: blue;
}  

.hbox { 
	-fx-padding: 15.0; 
	-fx-spacing: 10.0;
}  

.borders{ 
	-fx-border-color: black; 
	-fx-border-style: dashed; 
	-fx-border-width: 2.0;
}